%h3="Hey #{@user.name}"
%p.callout
  ="Don't forget the next event in #{@tour.name},<br /> <strong>#{@event.starts_at.to_s(:short)}</strong> you're playing #{@event.gametype}".html_safe
  - if @event.team_event?
    ="(#{@event.scoring_type.capitalize})"
  - unless @event.course.empty?
    = " at #{@event.course}"
= link_to 'View event', @url, class: 'btn'
%br
%br
%p="Start stretching! <br />Kim".html_safe
