%h3="New event in #{@tour.name}"
%p.callout
  %strong="#{@event.starts_at.to_s(:short)}"
  ="you're playing #{@event.scoring_type.capitalize}"
  - unless @event.course.empty?
    = " at #{@event.course}"
= link_to 'View event', @url, class: 'btn'
%br
%br
%p="Start stretching! <br />Kim".html_safe
